$bg-color-1: #8D99AE;
$bg-color-2: #2B2D42; 
$color-1: #EDF2F4;

body {
    .information {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: $bg-color-2;
        min-height: 100vh;

        .search {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: $bg-color-1;
            border-radius: 10px;
            width: 80%;
            height: 60px;
            margin-top: 30px;

            input {
                margin-left: 30px;
                outline: 0;
                border: 0;
                background-color: $bg-color-1;
                font-size: 23px;
                width: 80%;
                height: 60px;;
            }

            img {
                margin-left: 20px;
                height: 30px;
                width: 30px;
            }
        }

        .list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 80%;
            margin-top: 100px;

            .newUser {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 206px;
                    height: 58px;
                    background: $bg-color-1;
                    box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.65);
                    border-radius: 10px;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 36px;
                    text-align: center;
                    color: $color-1;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
                }
            }

            h1 {
                font-weight: 500;
                font-size: 36px;
                line-height: 54px;
                text-align: center;
                color: $color-1;
            }

            .list--field {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 1198px;
                height: 60px;
                background: $bg-color-1;
                border-radius: 10px;
                margin-bottom: 10px;
                width: 100%;

                span {
                    margin-left: 20px;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 54px;
                    text-align: center;
                    color: $color-1;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
                }


                .images {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: 20px;
                    width: 130px;

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

@media(max-width:560px){
    body {
        .information {
            .search {
                height: 50px;

                input {
                    height: 50px;
                }
            }
            .list {
                .list--field {
                    height: 50px;
                    span {
                        font-size: 25px;
                    }
                    .images {
                        justify-content: space-around;
                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
                .newUser {
                    margin-bottom: 30px;
                    a {
                        height: 50px;
                    }
                }
            }
        }
    }
}